* {
  font-family: "Noto Sans Mono";
  font-size: 12px;
  min-height: 0px;
  border-radius: 0px;
  color: #c1c99d;
	background-color: rgba(0.0, 0.0, 0.0, 0.9);
  background: #1a2f2a;
}

#waybar {
  margin: 12px 12px 12px 12px;
  border-radius: 4px;
}

#pulseaudio,
#battery,
#clock,
#network,
#cpu,
#memory,
#workspaces,
#language {
  margin: 0px 3px;
  padding: 0px 12px;
}
