* {
    font-family: "JetBrains Mono", "Symbols Nerd Font";
    font-size: 13px;
    font-weight: bold;
    border: none;
    border-radius: 0;
    min-height: 0;
    padding: 0;
    margin: 0;
}

window#waybar {
    background: #32383b;
    color: #fcbf3b;
    border-bottom: 1px solid #fcbf3b;
}

tooltip {
    background: #32383b;
    border: 1px solid #D7D3CD;
    color: #fcbf3b;
}

/* Workspaces */
#workspaces button {
    padding: 0 10px;
    color: #f9e2af;
    background: transparent;
}

#workspaces button.focused,
#workspaces button.active {
    color: #fcbf3b;
    background: #32383b;
    border-bottom: 3px solid #fcbf3b;
}

#workspaces button.urgent {
    color: #D85A5A;
    background: #FF0000;
}

#mode, #clock, #cpu, #memory, #temperature,
#backlight, #pulseaudio, #network, #battery,
#tray, #custom-power, #custom-updates {
    padding: 0 12px;
    margin: 4px 4px;
    background: #32383b;
    color: #fcbf3b;
    border-radius: 8px;
}

#battery.charging { color: #70abaf; }
#battery.critical { color: #f38ba8; }

#tray menu {
    background: #F8F6F3;
    border: 1px solid #D7D3CD;
}

#window {
    font-weight: bold;
    color: #2C313A;
    padding: 0 16px;
}

/* Power menu / logout button */
#custom-power {
    color: #D85A5A;
    background: #FFE6E8;
    border-radius: 8px;
    padding: 0 14px;
    margin-right: 8px;
}
