* {
  font-family: "Noto Sans Mono";
  font-size: 12px;
  min-height: 0px;
  border-radius: 0px;
  color: #95B8D1;
}

#waybar {
  margin: 12px 12px 12px 12px;
  border-radius: 4px;
  background: #1A1D26;
}

#pulseaudio,
#battery,
#clock,
#network,
#cpu,
#memory,
#workspaces,
#language {
  margin: 0px 3px;
  padding: 0px 12px;
}
