* {
  font-family: "Lilex Nerd Font";
  font-size: 14px;
  min-height: 0;
  border: none;
  border-radius:0;
  color: #fecdb2;
}

#waybar {
  background-color: rgba(0, 0, 0, 0);
}

#pulseaudio,
#battery,
#clock,
#network,
#cpu,
#memory,
#workspaces,
#language {
  border-radius: 4px;
  margin: 1px 3px;
  padding: 6px 12px;
  background: #2b292d;
}
