* {
  font-family: "Noto Sans Mono";
  font-size: 12px;
  min-height: 0px;
  border-radius: 0px;
  color: #95B8D1;
}

window#waybar {
  margin: 12px 12px 12px 12px;
  border-radius: 0px;
  background: #1A1D26;
}

#pulseaudio,
#battery,
#clock,
#network,
#cpu,
#memory,
#workspaces,
#language {
  margin: 0px 3px;
  padding: 0px 12px;
}

#workspaces button.focused {
    background: #64727D;
    border-bottom: 3px solid white;
    background-color: #E8B4B8;
}

#workspaces button.active {
    color: red;
    border-top: 3px solid #E8B4B8;
    border-radius: 0px 0px 2px 2px;
}
